.musicplayer {
    background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
}

.screen {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
    background: linear-gradient(to bottom,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
    border-radius:5px;
    width:80%;
    display: inline-block;
    vertical-align: middle;
    border:1px solid rgb(166, 224, 255);
}

.screen p{
    font-size:8px;
    color:white;
}

select {
    width:100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color:transparent;
    border:none;
}

select option {
    background-color:rgb(236, 236, 236);
    font-family:calibri;
}
select option:nth-child(odd) {
    background-color:#d3d3d3;
}

select option:active {
    background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

select option:checked {
    background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.playbtn {
    background:url("../img/musicplayer/buttons/play.png"); 
    background-size:100% auto;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}

.playbtn:hover {
    background:url("../img/musicplayer/buttons/playHover.png"); 
    background-size:100% auto;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}

.playbtn:active {
    background:url("../img/musicplayer/buttons/playClick.png"); 
    background-size:100% auto;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}

.playbtn:disabled {
    background:url("../img/musicplayer/buttons/playOff.png"); 
    background-size:100% auto;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}


.pausebtn {
    background:url("../img/musicplayer/buttons/pause.png"); 
    background-size:100% auto;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}

.pausebtn:hover {
    background:url("../img/musicplayer/buttons/pauseHover.png"); 
    background-size:100% auto;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}

.pausebtn:active {
    background:url("../img/musicplayer/buttons/pauseClick.png"); 
    background-size:100% auto;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}

.pausebtn:disabled {
    background:url("../img/musicplayer/buttons/pauseOff.png"); 
    background-size:100% auto;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}