html, body {
    margin: 0; height: 100%; overflow: hidden;
    

}

.alert-center {
    margin:0;
	display:flex;
	height:100vh;
	align-items:center;
}

.alert-center div{
    width: 50vw;
    margin: 0 auto;
    overflow: hidden;
}