<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ratintosh's Site</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="../css/css2.css" rel="stylesheet">
  <base target="_parent">
  <style>
    body,html{margin:none; padding:0px;background-color: transparent;background-image:none;}
  </style>
</head>
<body>
    <footer>
      <a href="../ratmuseum.html"><img src="https://64.media.tumblr.com/72c133bf62f4af1bc28752ed6591f7fa/3cb3c8474c05d418-38/s100x200/c3aeb978f6eb8736f3ba7653913d70631a1de109.gifv"></a>
      <a href="https://linuxmint.com/"><img src="https://tanukicomputing.neocities.org/buttons/linux_mint.gif"></a>
      <a href="https://github.com/fabiangreffrath/crispy-doom"><img src="https://tanukicomputing.neocities.org/buttons/doome.webp"></a>
      <img src="https://gifcity.carrd.co/assets/images/gallery26/2aa577e6.gif?v=371108e7">
      <a href="https://steamcommunity.com/id/ratintosh/"><img src="https://external-media.spacehey.net/media/sE8sQ7-G3PP6u4_8xfH9Q-kh1mSajrs5jpFcfWpdhWDU=/https://1.bp.blogspot.com/-eEaCKDAFgUs/YLQ4OQiol_I/AAAAAAAAIBc/4SRe9tLnzKEg1yfAFhyPRY9OZafo-e4LwCLcBGAsYHQ/s0/steam.gif"></a>
      <a href="https://wii.com/"><img src="https://cyber.dabamos.de/88x31/wii.gif"></a>
      <a href="https://www.firefox.com/en-US/"><img src="https://cyber.dabamos.de/88x31/firefoxget.gif"></a>
      <p>© 2025 Ratintosh. Powered by <a href="https://neocities.org/" target="_blank">Neocities</a>.</p>
      <p>Adapted from <a href="https://websetsbylynn.neocities.org/" target="_blank">Websets by Lynn</a></p>
      <p><a href="https://modus-interactive.itch.io/bryce-render-pack-v2" target="_blank">Modus Interactive's Bryce Render Pack v2</a>© 2023 by&nbsp;<a href="https://modus-interactive.itch.io/" target="_blank">Modus Interactive&nbsp;</a>is licensed under&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" referrerpolicy="origin" rel="nofollow noopener">CC BY 4.0</a></p>
    </footer>

</body>
</html>