:root {
    --background: rgb(146, 255, 202);
}

body {
    background-color: var(--background);
    background-image: url("background.png");
    background-size: cover;
    margin: 10px;
}

main {
    background-color: transparent;
}

#content {
    width: 100%;
    height: 70vh;
}

footer {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 0.75rem;
    background: #fff;
    color: rgb(151, 151, 151);
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
}

footer a {
    color: rgb(141, 191, 255);
}
