:root{
    --background:rgb(146, 255, 202);
    --foreground:rgba(255, 255, 255, 0.639);
}

body {
    background-color: var(--background);
    background-image:url("background.png");
    background-size:cover;
    margin:10px;
}

main {
    background-color: transparent;
}


#content {
    width:100%;
    height:70vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color:rgb(151, 151, 151);
    text-align: center;

    font-size:11px;
    font-weight:50;
    line-height:6px;
}

footer a{
    color:rgb(141, 191, 255);
}