@font-face {
    font-family: 'departure';
    src: url('../font/DepartureMono-Regular.otf');
}

body,
html {
    margin: 0px;
    padding: 0px;
    background-image: url("../img/stars\ 2.gif")
}

.settings {
    background: url("../button/gear.gif") no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    right:10px;
    width: 90px;
    height: 80px;
    border: none;
    z-index:10;
}

.settings:hover {
    background: url("../button/settings.gif") no-repeat;
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 80px;
    border: none;
    cursor:pointer;
}



.monitor {
    position: absolute;
    width: 700px;

    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: 10;
    pointer-events: none;
}

.terminal {
    font-family: "departure";
    position: absolute;
    width: 500px;
    height: 360px;
    scale: 1px;

    left: 0;
    right: 0;
    top: 80px;
    margin-inline: auto;
    z-index: 0;
    padding: 10px;

    font-size: 13px;
    overflow: scroll;

    white-space: pre-wrap;
    text-indent: 0px;

}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000000;
    margin: auto;
    padding: 5px;
    border: 1px solid #ffffff;
    width: 20%;
    line-height:0px;
    color:white;
}



.modal-content hr{
    border-color:white;
}

/*Themes*/
.terminal.green {
    background-color: rgb(0, 22, 7);
    color: rgb(81, 255, 121);
}

.terminal.amber {
    background-color: rgb(22, 13, 0);
    color: rgb(255, 207, 62);
}


.terminal.blue {
    background-color: rgb(2, 0, 22);
    color: rgb(62, 200, 255);
}

.terminal.mono {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}